// Img Slider
.swiper-img-slider {
  border-radius: 0px 60px 0px 60px;
  overflow: hidden;
}

.swiper-img-slider-item {
  width: 100%;
  height: 575px;

  &.img-slider-bernstein-1 {
    background-image: url('../img/bernstein-cocina-a-1.webp');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.img-slider-bernstein-2 {
    background-image: url('../img/bernstein-cocina-a-2.webp');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -1px;
  }

  &.img-slider-bernstein-3 {
    background-image: url('../img/bernstein-cocina-b-1.webp');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.img-slider-bernstein-4 {
    background-image: url('../img/bernstein-cocina-b-2.webp');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -1px;
  }
}

// mobile - llamados en mobile.scss
@mixin img-slider--lg() {
  .swiper-img-slider-item {
    height: 340px;
  }
}

@mixin img-slider--sm() {
  .swiper-img-slider-item {
    height: 300px;
  }
}