// CTA Video
.cta-video {
  position: relative;
  overflow: hidden;
}

.cta-video::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: url('../img/gridtile.png');
  background-repeat: repeat;
  background-size: 2px 2px;
  opacity: 0.3;
  z-index: 2;
}

.cta-video .video-desktop,
.cta-video .video-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-desktop {
  display: block;
}

.video-mobile {
  display: none;
}

.cta-video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, 0.5);
  z-index: 2;
  pointer-events: none;
}

.cta-container {
  position: relative;
  z-index: 4;
  padding-top: 80px;
  padding-bottom: 80px;
}

.cta-wrapper {
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid white;
  padding: 80px 60px;
  border-radius: 100px 0 100px 0;

  > :nth-child(1) {
    margin-bottom: 30px;
  }

  > :nth-child(2) {
    margin-bottom: 35px;
  }
}

// CTA image
.cta-img {
  position: relative;
  z-index: 1;
}

// Imagenes CTA
%cta-img-before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: url('../img/gridtile.png');
  background-repeat: repeat;
  background-size: 2px 2px;
  opacity: 0.3;
  z-index: 2;
}

%cta-img-base {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.cta-img-bernstein {
  @extend %cta-img-base;
  background-image: url('../img/bernstein-cta.webp');

  &::before {
    @extend %cta-img-before;
  }
}

.cta-img-vildosola {
  @extend %cta-img-base;
  background-image: url('../img/vildosola-cta.webp');

  &::before {
    @extend %cta-img-before;
  }
}

// mobile - llamados en mobile.scss
@mixin cta--lg() {
  .cta-wrapper {
    padding: 80px 50px;
  }
}

@mixin cta--md() {
  .video-desktop {
    display: none;
  }

  .video-mobile {
    display: block;
  }
}

@mixin cta--sm() {
  .cta-wrapper {
    padding: 75px 30px;
    border-radius: 60px 0 60px 0;
  }
}