@use '../utilities/variables' as vars;

// Project Section
.project-section {
  position: relative;
  z-index: 0;
}

%diagonal-img-project-base {
  position: absolute;
  inset: 0;
  background-image: url('../img/diagonal-img-project.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  pointer-events: none;
}

.diagonal-img-project-a {
  @extend %diagonal-img-project-base;
  background-position: bottom center;
}

.diagonal-img-project-b {
  @extend %diagonal-img-project-base;
  transform: rotate(180deg);
  background-position: top center;
}

.two-col-project {
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  gap: 60px;
  align-items: center;
  overflow: hidden;
}

.two-col-project-imgs {
  position: relative;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
}

%project-ornament-base {
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 80px;
  border: 1px dashed white;
}

.project-ornament-a {
  @extend %project-ornament-base;
  right: 250px;
  width: 700px;
  height: 548px;
}

.project-ornament-b {
  @extend %project-ornament-base;
  left: 250px;
  width: 700px;
  height: 548px;
}

.circle-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  %circle-base {
    width: 16px;
    height: 16px;
    border-radius: 30px;
    background-color: white;
    position: absolute;
  }

  .circle-a {
    @extend %circle-base;
    top: -8px;
    right: 100px,
  }

  .circle-b {
    @extend %circle-base;
    bottom: 100px;
    right: -8px,
  }

  .circle-c {
    @extend %circle-base;
    top: -8px;
    left: 100px,
  }

  .circle-d {
    @extend %circle-base;
    bottom: 100px;
    left: -8px,
  }
}

.project-img {
  background-color: white;
  max-width: 500px;
  width: 100%;
  height: 340px;
  border: solid 10px white;
  border-radius: 0px 80px 0px 80px;
}

// Imagenes Interiores Proyectos
%project-img-base {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

// Reina Bernstein
.project-img-bernstein-1 {
  @extend %project-img-base;
  background-image: url('../img/project-img-bernstein-1.webp');
  align-self: flex-start;
}

.project-img-bernstein-2 {
  @extend %project-img-base;
  background-image: url('../img/project-img-bernstein-2.webp');
  align-self: flex-end;
}

.project-img-bernstein-3 {
  @extend %project-img-base;
  background-image: url('../img/project-img-bernstein-3.webp');
  align-self: flex-end;
}

.project-img-bernstein-4 {
  @extend %project-img-base;
  background-image: url('../img/project-img-bernstein-4.webp');
  align-self: flex-start;
}

// Reina Vildosola
.project-img-vildosola-1 {
  @extend %project-img-base;
  background-image: url('../img/project-img-vildosola-1.webp');
  align-self: flex-start;
}

.project-img-vildosola-2 {
  @extend %project-img-base;
  background-image: url('../img/project-img-vildosola-2.webp');
  align-self: flex-end;
}

.project-img-vildosola-3 {
  @extend %project-img-base;
  background-image: url('../img/project-img-vildosola-3.webp');
  align-self: flex-end;
}

.project-img-vildosola-4 {
  @extend %project-img-base;
  background-image: url('../img/project-img-vildosola-4.webp');
  align-self: flex-start;
}


// Text Content
.two-col-project-content {
  width: 50%;

  .buttons-wrapper {
    margin-top: 30px;
  }
}

// mobile - llamados en mobile.scss
@mixin project-sec--lg() {
  .project-ornament-a {
    right: 100px;
  }

  .project-ornament-b {
    left: 100px;
  }

}

@mixin project-sec--md() {
  .two-col-project {
    flex-flow: column nowrap;
    gap: 60px;
    align-items: center;
    overflow: hidden;
  }

  .two-col-project-imgs {
    width: 100%;
    display: flex;
    gap: 30px;
  }

  .project-ornament-a {
    right: 250px;
    height: 548px;
  }

  .project-ornament-b {
    left: 250px;
    height: 548px;
  }

  .project-img {
    max-width: none;
    height: 340px;
  }

  .two-col-project-content {
    width: 100%;
    order: 2;
  }
}

@mixin project-sec--sm() {
  .project-ornament-a {
    right: 180px;
    height: 500px;
  }

  .project-ornament-b {
    left: 180px;
    height: 500px;
  }

  .project-img {
    max-width: none;
    height: 300px;
  }

  .two-col-project-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
  }
}