@use '../utilities/variables' as vars;

// Basico
.dark-bg {
  background-color: vars.$dark-gray;
}

.container {
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
}

// Utils
.mt {
  margin-top: 100PX;
}

.mb {
  margin-bottom: 100px;
}

.int-mb {
  margin-bottom: 60px;
}

// mobile - llamados en _mobile.scss
@mixin basic--lg() {
  .mt {
    margin-top: 80PX;
  }

  .mb {
    margin-bottom: 80px;
  }

  .int-mb {
    margin-bottom: 60px;
  }
}

@mixin basic--md() {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@mixin basic--sm() {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mt {
    margin-top: 75PX;
  }

  .mb {
    margin-bottom: 75px;
  }

  .int-mb {
    margin-bottom: 60px;
  }
}