@use '../utilities/variables' as vars;

// Basico
html {
  scroll-behavior: smooth;
}

.dark-bg {
  background-color: vars.$dark-gray;
}

.light-bg {
  background-color: vars.$light-gray;
}

.container {
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
}

.container-np {
  max-width: 1280px;
  margin: auto;
}


// Utils
.mt {
  margin-top: 100PX;
}

.mb {
  margin-bottom: 100px;
}

.int-mb {
  margin-bottom: 60px;
}

.pt {
  padding-top: 100px;
}

.pb {
  padding-bottom: 100px;
}

// mobile - llamados en mobile.scss
@mixin basic--lg() {
  .mt {
    margin-top: 80PX;
  }

  .mb {
    margin-bottom: 80px;
  }

  .int-mb {
    margin-bottom: 60px;
  }

  .pt {
    padding-top: 80px;
  }

  .pb {
    padding-bottom: 80px;
  }

}

@mixin basic--md() {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@mixin basic--sm() {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mt {
    margin-top: 75px;
  }

  .mb {
    margin-bottom: 75px;
  }

  .int-mb {
    margin-bottom: 75px;
  }

  .pt {
    padding-top: 75px;
  }

  .pb {
    padding-bottom: 75px;
  }
}