@use '../utilities/variables' as vars;

// // typo
// @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sora:wght@100..800&display=swap');

// variables Fuentes
$font-a: 'Sora', sans-serif;
$font-b: 'Lexend', sans-serif;

body {
  font-family: 'Sora', sans-serif;
}

// encabezados
h1 {
  font-family: $font-a;
  font-size: 2.8125rem;
  line-height: 3.125rem;
  letter-spacing: -1.35px;
  font-weight: 100;
  color: white;
  text-shadow: 2px 2px 3px rgba(25, 25, 25, 0.15);
  // text-shadow: 0 0 1px rgba(51,51,51,0.5);
}

h2 {
  font-family: $font-a;
  font-size: 1.75rem;
  line-height: 2.1875rem;
  font-weight: 200;
  color: vars.$dark-gray;
  margin-bottom: 20px;

  &.h2-center {
    max-width: 75%;
    text-align: center;
    margin-bottom: 0px;
  }

  &.h2-form {
    margin-bottom: 10px;
  }

  &.h2-nm {
    margin-bottom: 0px;
  }

  &.h2-projects-slider {
    font-weight: 600;
    margin-bottom: 0px;
  }
}

h3 {
  font-family: $font-b;
  font-size: .9375rem;
  line-height: .9375rem;
  letter-spacing: 0.6px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;

  &.h3-color {
    color: vars.$color-a;
  }

  &.h3-white-a {
    color: white;
  }

  &.h3-white-b {
    font-weight: 200;
    color: white;
  }
}

%h3-wrapper-base {
  display: inline-block;
  border-radius: 30px;
}

.h3-wrapper-a {
  @extend %h3-wrapper-base;
  padding: 6px 28px;
  background-color: vars.$color-a;
}

.h3-wrapper-b {
  @extend %h3-wrapper-base;
  padding: 6px 60px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid vars.$color-a;
}

.h3-wrapper-c {
  @extend %h3-wrapper-base;
  padding: 6px 60px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
}

.h3-wrapper-d {
  @extend %h3-wrapper-base;
  padding: 6px 28px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid vars.$color-a;
  margin-bottom: 15px;
}

h4 {
  font-family: $font-a;
  font-size: 1.375rem;
  line-height: 30px;
  font-weight: 400;
  color: vars.$dark-gray;
}

h5 {
  font-family: $font-a;
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 600;
  color: vars.$font-color-b;
}

// textos
strong {
  font-weight: 600;
}

p {
  font-family: $font-a;
  font-size: .9375rem;
  line-height: 1.6875rem;
  font-weight: 300;
  color: vars.$font-color-a;
  margin-bottom: 15px;

  &.p-top-bar {
    color: vars.$font-color-b;
    font-family: $font-a;
    font-size: .875rem;
    line-height: .875rem;
    font-weight: 400;
    margin-bottom: 0px;
  }

  &.p-white {
    color: white;
    font-family: $font-a;
    font-size: 1.0rem;
    line-height: 1.625rem;
    font-weight: 300;
    margin-bottom: 0px;
    text-shadow: 2px 2px 3px rgba(25, 25, 25, 0.15);
    // text-shadow: 0 0 1px rgba(51,51,51,0.5);
  }

  &.p-post-header-bar {
    color: vars.$font-color-b;
    font-family: $font-a;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    font-weight: 300;
    margin-bottom: 0px;
  }

  &.p-cta {
    color: white;
    font-size: 1.5625rem;
    line-height: 2.375rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 0px;
  }

  &.p-form {
    margin-bottom: 25px;
  }

  &.p-nm {
    margin-bottom: 0px;
  }

  &.p-dark {
    color: vars.$font-color-b;
    margin-bottom: 0px;
  }
}

%reset-a {
  all: unset;
  display: inline;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a {
  @extend %reset-a;
  font-family: $font-a;
  font-size: .9375rem;
  line-height: 1.6875rem;
  font-weight: 300;
  color: vars.$font-color-a;
  transition: color 0.3s ease-in-out;

  &.a-dark {
    color: vars.$font-color-b;
  }

  &.a-underline {
    text-decoration: underline;
  }

  &:hover {
    color: vars.$color-a;
  }
}

span {
  font-family: $font-b;
  font-size: .9375rem;
  line-height: .9375rem;
  letter-spacing: 0.6px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;

  &.span-color {
    color: vars.$color-a;
  }

  &.span-color-lh {
    color: vars.$color-a;
    line-height: 20px;
  }

  &.span-white {
    font-weight: 300;
    color: white;
  }
}

#current-year {
  font-family: $font-a;
  font-size: .9375rem;
  line-height: 1.6875rem;
  font-weight: 300;
  color: vars.$font-color-a;
  margin-bottom: 15px;
  color: vars.$font-color-b;
  margin-bottom: 0px;
}

// mobile - llamados en mobile.scss
@mixin typo--special-b() {

  h2 {
    &.h2-center {
      max-width: 90%;
    }
  }
}

@mixin typo--md() {
  h2 {
    margin-bottom: 30px;

    &.h2-center {
      margin-bottom: 0px;
    }
  }

  .h3-wrapper-d {
    margin-bottom: 20px;
  }
}

@mixin typo--sm() {
  h2 {
    &.h2-center {
      max-width: 100%;
    }
  }

  h3 {
    font-size: .875rem;
    line-height: 1.25rem;
  }

  .h3-wrapper-a,
  .h3-wrapper-b,
  .h3-wrapper-c {
    padding: 8px 28px;
  }

  p {
    font-size: 1rem;
    line-height: 1.75rem;

    &.p-top-bar {
      font-size: .875rem;
      line-height: .875rem;
    }

    &.p-white {
      line-height: 1.625rem;
    }

    &.p-post-header-bar {
      font-size: 1.125rem;
      line-height: 1.875rem;
    }

    &.p-cta {
      font-size: 1.5625rem;
      line-height: 2.375rem;
    }
  }

  a {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  #current-year {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}